<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <div class="header">
        <div class="title">
            <span>SpaceBlog</span>
        </div>
        <div class="content">
            <h1>Découvrez <span>l'espace</span></h1>
            <h1>Comme jamais</h1>
            <h1>Auparavant</h1>
        </div>
    </div>
    <body>
        {% block body %}{% endblock %}
    </body>

<div class="footer">
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}" alt="">
    </div>
</div>
</html>
